.App {
  text-align: center;
}

.Button-style {
  border-radius: 5px;
  background-color: darkgreen;
  color:  white;
  border-style: none;
}

.Button-style:hover {
  background-color: black;
  cursor: pointer;
}

.Button-style-02 {
  background-color: brown;
  color: white;
  border-style: none;
}

.Button-style-02:hover {
  background-color: blue;
  cursor: pointer;
}